.new-york-small {
  font-size: 12px;

  & p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    line-height: 1.2;
  }

  & ul {
    margin-left: 0.2rem;
    padding: 0.1rem 0;
  }

  & ul > li {
    margin-left: 0.2rem;
    padding: 0.1rem 0;
    line-height: 1.2;
  }

  & ol {
    margin-left: 0.2rem;
    padding: 0.1rem 0;
    list-style-type: decimal;
  }

  & ol > li {
    margin-left: 0.5rem;
    padding: 0.1rem 0;
    line-height: 1.2;
  }

  & h1 {
    font-size: 1.1rem;
    line-height: 1.1;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
  }

  & h2 {
    font-size: 1rem;
    line-height: 1.1;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
  }

  & h3 {
    font-size: 0.95rem;
    line-height: 1.1;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
  }

  & h4 {
    font-size: 0.9rem;
    line-height: 1.1;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
  }
}
